### Limpieza datos emisiones

In [5]:
import pandas as pd

In [3]:
import warnings
warnings.filterwarnings('ignore')

In [4]:
import sys
sys.path.append('../src')

from clean_support import NO2_clean, estacion_timeseries

In [4]:
df22 = pd.read_csv("../data/AytoMad/daily/datos202212.csv", sep=';')
df22 = pd.read_csv("../data/AytoMad/daily/datos202212.csv", sep=';')
df21 = pd.read_csv("../data/AytoMad/daily/datos202112.csv", sep=';')
df20 = pd.read_csv("../data/AytoMad/daily/datos202012.csv", sep=';')
df19 = pd.read_csv("../data/AytoMad/daily/datos201912.csv", sep=';')
df18 = pd.read_csv("../data/AytoMad/daily/datos201812.csv", sep=';')
df16 = pd.read_csv("../data/AytoMad/daily/datos201612.csv", sep=';')

In [5]:
df17 = pd.read_csv("../data/AytoMad/daily/datos17.csv", sep=';')
df15 = pd.read_csv("../data/AytoMad/daily/datos15.csv", sep=';')
df14 = pd.read_csv("../data/AytoMad/daily/datos14.csv", sep=';')
df13 = pd.read_csv("../data/AytoMad/daily/datos13.csv", sep=';')

In [8]:
df_total = pd.concat([df22,df21,df20,df19,df18,df17,df16,df15,df14,df13], ignore_index=True)

In [9]:
df = NO2_clean(df_total)

In [10]:
lst_estaciones = [8, 11, 17, 18, 24, 27, 35, 36, 38, 39, 40, 47, 48, 49, 50, 54, 55, 56, 57, 58, 59, 60]

*En las estaciones 4, 16, 11, 35 falta algún mes.*

In [11]:
dataframes_por_estacion = {}

for estacion in lst_estaciones:
    nombre_df = f'df_{estacion}'  # Nombre del DataFrame
    
    df_estacion = df[df["ESTACION"] == estacion].copy()  # Filtrar el DataFrame por cada estación
    
    # Guardar el DataFrame con el nombre específico en el entorno local
    locals()[nombre_df] = df_estacion
    
    # Guardar el DataFrame en el diccionario para referencia adicional si es necesario
    dataframes_por_estacion[nombre_df] = df_estacion
    
    # Imprimir información sobre el DataFrame creado
    print(f"DataFrame {nombre_df} creado. Filas: {len(df_estacion)}, Columnas: {len(df_estacion.columns)}")

DataFrame df_8 creado. Filas: 120, Columnas: 4
DataFrame df_11 creado. Filas: 120, Columnas: 4
DataFrame df_17 creado. Filas: 120, Columnas: 4
DataFrame df_18 creado. Filas: 120, Columnas: 4
DataFrame df_24 creado. Filas: 120, Columnas: 4
DataFrame df_27 creado. Filas: 120, Columnas: 4
DataFrame df_35 creado. Filas: 120, Columnas: 4
DataFrame df_36 creado. Filas: 120, Columnas: 4
DataFrame df_38 creado. Filas: 120, Columnas: 4
DataFrame df_39 creado. Filas: 120, Columnas: 4
DataFrame df_40 creado. Filas: 120, Columnas: 4
DataFrame df_47 creado. Filas: 120, Columnas: 4
DataFrame df_48 creado. Filas: 120, Columnas: 4
DataFrame df_49 creado. Filas: 120, Columnas: 4
DataFrame df_50 creado. Filas: 120, Columnas: 4
DataFrame df_54 creado. Filas: 120, Columnas: 4
DataFrame df_55 creado. Filas: 120, Columnas: 4
DataFrame df_56 creado. Filas: 120, Columnas: 4
DataFrame df_57 creado. Filas: 120, Columnas: 4
DataFrame df_58 creado. Filas: 120, Columnas: 4
DataFrame df_59 creado. Filas: 120, Columnas: 4
DataFrame df_60 creado. Filas: 120, Columnas: 4

In [12]:
estacion_timeseries(df_8)
estacion_timeseries(df_17)
estacion_timeseries(df_18)
estacion_timeseries(df_24)
estacion_timeseries(df_27)
estacion_timeseries(df_36)
estacion_timeseries(df_38)
estacion_timeseries(df_39)
estacion_timeseries(df_40)
estacion_timeseries(df_47)
estacion_timeseries(df_48)
estacion_timeseries(df_49)
estacion_timeseries(df_50)
estacion_timeseries(df_54)
estacion_timeseries(df_55)
estacion_timeseries(df_56)
estacion_timeseries(df_57)
estacion_timeseries(df_58)
estacion_timeseries(df_59)
estacion_timeseries(df_60)

                  NO2
month
2013-01-01  41.419355
2013-02-01  30.741935
2013-03-01  24.612903
2013-04-01  22.193548
2013-05-01  20.483871
...               ...
2022-08-01  18.225806
2022-09-01  20.161290
2022-10-01  31.483871
2022-11-01  27.419355
2022-12-01  32.322581

[120 rows x 1 columns]

In [13]:
#lst_estaciones = [8, 17, 18, 24, 27, 36, 38, 39, 40, 47, 48, 49, 50, 54, 55, 56, 57, 58, 59, 60]

In [14]:
df_8.to_csv('../data/df_8.csv', index=True)

In [15]:
df_17.to_csv('../data/df_17.csv', index=True)
df_18.to_csv('../data/df_18.csv', index=True)
df_24.to_csv('../data/df_24.csv', index=True)
df_27.to_csv('../data/df_27.csv', index=True)
df_36.to_csv('../data/df_36.csv', index=True)
df_38.to_csv('../data/df_38.csv', index=True)
df_39.to_csv('../data/df_39.csv', index=True)
df_40.to_csv('../data/df_40.csv', index=True)
df_47.to_csv('../data/df_47.csv', index=True)
df_48.to_csv('../data/df_48.csv', index=True)
df_49.to_csv('../data/df_49.csv', index=True)
df_50.to_csv('../data/df_50.csv', index=True)
df_54.to_csv('../data/df_54.csv', index=True)
df_55.to_csv('../data/df_55.csv', index=True)
df_56.to_csv('../data/df_56.csv', index=True)
df_57.to_csv('../data/df_57.csv', index=True)
df_58.to_csv('../data/df_58.csv', index=True)
df_59.to_csv('../data/df_59.csv', index=True)
df_60.to_csv('../data/df_60.csv', index=True)

### Datos emisiones 2023

In [15]:
df23 = pd.read_csv("../data/AytoMad/daily/datos202310.csv", sep=';')

In [16]:
emisiones23 = NO2_clean(df23)

In [18]:
emisiones23.to_csv('../data/emisiones23.csv', index=True)