In [2]:
import pandas as pd

In [3]:
import warnings
warnings.filterwarnings('ignore')

In [4]:
import sys
sys.path.append('../src')

from clean_support import NO2_clean, estacion_timeseries

In [5]:
df22 = pd.read_csv("../data/AytoMad/daily/datos202212.csv", sep=';')
df22 = pd.read_csv("../data/AytoMad/daily/datos202212.csv", sep=';')
df21 = pd.read_csv("../data/AytoMad/daily/datos202112.csv", sep=';')
df20 = pd.read_csv("../data/AytoMad/daily/datos202012.csv", sep=';')
df19 = pd.read_csv("../data/AytoMad/daily/datos201912.csv", sep=';')
df18 = pd.read_csv("../data/AytoMad/daily/datos201812.csv", sep=';')
df16 = pd.read_csv("../data/AytoMad/daily/datos201612.csv", sep=';')

In [6]:
df17 = pd.read_csv("../data/AytoMad/daily/datos17.csv", sep=';')
df15 = pd.read_csv("../data/AytoMad/daily/datos15.csv", sep=';')
df14 = pd.read_csv("../data/AytoMad/daily/datos14.csv", sep=';')
df13 = pd.read_csv("../data/AytoMad/daily/datos13.csv", sep=';')

In [7]:
df_total = pd.concat([df22,df21,df20,df19,df18,df17,df16,df15,df14,df13], ignore_index=True)

In [8]:
df = NO2_clean(df_total)

In [9]:
lst_estaciones = [8, 11, 17, 18, 24, 27, 35, 36, 38, 39, 40, 47, 48, 49, 50, 54, 55, 56, 57, 58, 59, 60]

In [10]:
dataframes_por_estacion = {}

for estacion in lst_estaciones:
    nombre_df = f'df_{estacion}'  # Nombre del DataFrame
    
    df_estacion = df[df["ESTACION"] == estacion].copy()  # Filtrar el DataFrame por cada estación
    
    # Guardar el DataFrame con el nombre específico en el entorno local
    locals()[nombre_df] = df_estacion
    
    # Guardar el DataFrame en el diccionario para referencia adicional si es necesario
    dataframes_por_estacion[nombre_df] = df_estacion
    
    # Imprimir información sobre el DataFrame creado
    print(f"DataFrame {nombre_df} creado. Filas: {len(df_estacion)}, Columnas: {len(df_estacion.columns)}")

DataFrame df_8 creado. Filas: 120, Columnas: 4
DataFrame df_11 creado. Filas: 120, Columnas: 4
DataFrame df_17 creado. Filas: 120, Columnas: 4
DataFrame df_18 creado. Filas: 120, Columnas: 4
DataFrame df_24 creado. Filas: 120, Columnas: 4
DataFrame df_27 creado. Filas: 120, Columnas: 4
DataFrame df_35 creado. Filas: 120, Columnas: 4
DataFrame df_36 creado. Filas: 120, Columnas: 4
DataFrame df_38 creado. Filas: 120, Columnas: 4
DataFrame df_39 creado. Filas: 120, Columnas: 4
DataFrame df_40 creado. Filas: 120, Columnas: 4
DataFrame df_47 creado. Filas: 120, Columnas: 4
DataFrame df_48 creado. Filas: 120, Columnas: 4
DataFrame df_49 creado. Filas: 120, Columnas: 4
DataFrame df_50 creado. Filas: 120, Columnas: 4
DataFrame df_54 creado. Filas: 120, Columnas: 4
DataFrame df_55 creado. Filas: 120, Columnas: 4
DataFrame df_56 creado. Filas: 120, Columnas: 4
DataFrame df_57 creado. Filas: 120, Columnas: 4
DataFrame df_58 creado. Filas: 120, Columnas: 4
DataFrame df_59 creado. Filas: 120, Columnas: 4
DataFrame df_60 creado. Filas: 120, Columnas: 4

In [11]:
estacion_timeseries(df_8)

                  NO2
month
2013-01-01  33.516129
2013-02-01  40.290323
2013-03-01  36.548387
2013-04-01  31.548387
2013-05-01  32.612903
...               ...
2022-08-01  25.645161
2022-09-01  27.580645
2022-10-01  40.870968
2022-11-01  36.161290
2022-12-01  40.483871

[120 rows x 1 columns]

In [12]:
estacion_timeseries(df_11)
estacion_timeseries(df_17)
estacion_timeseries(df_18)
estacion_timeseries(df_24)
estacion_timeseries(df_27)
estacion_timeseries(df_35)
estacion_timeseries(df_36)
estacion_timeseries(df_38)
estacion_timeseries(df_39)
estacion_timeseries(df_40)
estacion_timeseries(df_47)
estacion_timeseries(df_48)
estacion_timeseries(df_49)
estacion_timeseries(df_50)
estacion_timeseries(df_54)
estacion_timeseries(df_55)
estacion_timeseries(df_56)
estacion_timeseries(df_57)
estacion_timeseries(df_58)
estacion_timeseries(df_59)
estacion_timeseries(df_60)

                  NO2
month
2013-01-01  41.419355
2013-02-01  30.741935
2013-03-01  24.612903
2013-04-01  22.193548
2013-05-01  20.483871
...               ...
2022-08-01  18.225806
2022-09-01  20.161290
2022-10-01  31.483871
2022-11-01  27.419355
2022-12-01  32.322581

[120 rows x 1 columns]

In [22]:
df_60.tail()

                  NO2
month
2022-08-01  18.225806
2022-09-01  20.161290
2022-10-01  31.483871
2022-11-01  27.419355
2022-12-01  32.322581

In [23]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
pd.set_option('display.max_seq_items', None)

In [24]:
df_60

                  NO2
month
2013-01-01  41.419355
2013-02-01  30.741935
2013-03-01  24.612903
2013-04-01  22.193548
2013-05-01  20.483871
2013-06-01  17.774194
2013-07-01  22.451613
2013-08-01  18.548387
2013-09-01  28.903226
2013-10-01  36.580645
2013-11-01  33.064516
2013-12-01  50.354839
2014-01-01  32.354839
2014-02-01  27.516129
2014-03-01  33.161290
2014-04-01  23.354839
2014-05-01  18.741935
2014-06-01  18.870968
2014-07-01  18.096774
2014-08-01  15.967742
2014-09-01  25.419355
2014-10-01  34.838710
2014-11-01  36.548387
2014-12-01  57.935484
2015-01-01  64.258065
2015-02-01  32.483871
2015-03-01  41.322581
2015-04-01  26.290323
2015-05-01  24.677419
2015-06-01  24.870968
2015-07-01  27.258065
2015-08-01  22.193548
2015-09-01  30.580645
2015-10-01  40.064516
2015-11-01  50.806452
2015-12-01  64.419355
2016-01-01  41.451613
2016-02-01  31.354839
2016-03-01  34.483871
2016-04-01  28.451613
2016-05-01  27.258065
2016-06-01  24.322581
2016-07-01  24.741935
2016-08-01  23.161290
2016-09-01  36.290323
2016-10-01  45.290323
2016-11-01  48.000000
2016-12-01  55.225806
2017-01-01  55.225806
2017-02-01  35.516129
2017-03-01  36.645161
2017-04-01  24.645161
2017-05-01  23.258065
2017-06-01  23.161290
2017-07-01  24.290323
2017-08-01  20.064516
2017-09-01  31.354839
2017-10-01  42.612903
2017-11-01  53.258065
2017-12-01  47.903226
2018-01-01  44.935484
2018-02-01  35.580645
2018-03-01  23.225806
2018-04-01  24.000000
2018-05-01  22.806452
2018-06-01  19.806452
2018-07-01  19.225806
2018-08-01  19.903226
2018-09-01  26.967742
2018-10-01  27.193548
2018-11-01  27.129032
2018-12-01  42.193548
2019-01-01  42.032258
2019-02-01  40.419355
2019-03-01  25.129032
2019-04-01  20.354839
2019-05-01  14.580645
2019-06-01  17.645161
2019-07-01  22.000000
2019-08-01  16.096774
2019-09-01  18.838710
2019-10-01  20.806452
2019-11-01  15.225806
2019-12-01  42.870968
2020-01-01  47.548387
2020-02-01  48.838710
2020-03-01  24.580645
2020-04-01   9.645161
2020-05-01   8.806452
2020-06-01  12.258065
2020-07-01  16.354839
2020-08-01  18.258065
2020-09-01  23.129032
2020-10-01  27.645161
2020-11-01  41.935484
2020-12-01  31.193548
2021-01-01  48.870968
2021-02-01  27.548387
2021-03-01  29.387097
2021-04-01  22.741935
2021-05-01  19.483871
2021-06-01  19.387097
2021-07-01  20.548387
2021-08-01  20.645161
2021-09-01  25.806452
2021-10-01  36.580645
2021-11-01  37.580645
2021-12-01  37.612903
2022-01-01  43.967742
2022-02-01  36.064516
2022-03-01  24.741935
2022-04-01  18.548387
2022-05-01  18.419355
2022-06-01  17.516129
2022-07-01  17.967742
2022-08-01  18.225806
2022-09-01  20.161290
2022-10-01  31.483871
2022-11-01  27.419355
2022-12-01  32.322581