### Temperatura Madrid

In [1]:
import pandas as pd

In [2]:
temp = pd.read_csv("../data/aemet/2012-2023.csv")

In [3]:
temp.head()

,index,Provincia,Periodo,Media_tmed,Media_prec,Media_sol,Media_tmin,Media_tmax
0,31,Madrid,2012-01,5.5,0.287268,6.993011,-0.472774,10.374300
1,81,Madrid,2012-02,-3.6,0.405163,7.944624,-2.126178,9.913613
2,131,Madrid,2012-03,5.9,0.647514,8.258065,2.631818,15.830749
3,181,Madrid,2012-04,9.4,2.816986,5.712903,4.033159,13.089295
4,231,Madrid,2012-05,0.7,1.064820,9.785484,10.068919,23.031081

In [4]:
temp.drop(["index", "Provincia", "Media_prec", "Media_sol", "Media_tmin", "Media_tmax"], axis=1, inplace=True)

In [5]:
temp.head()

   Periodo  Media_tmed
0  2012-01         5.5
1  2012-02        -3.6
2  2012-03         5.9
3  2012-04         9.4
4  2012-05         0.7

In [6]:
temp.rename(columns={'Media_tmed': 'T_media'}, inplace=True)

In [7]:
temp.isnull().sum()

Periodo    0
T_media    0
dtype: int64

In [8]:
temp['periodo'] = pd.to_datetime(temp['Periodo'])

# Filtra los registros que no pertenecen al a√±o 2023
temp = temp[temp['periodo'].dt.year != 2023]
temp = temp[temp['periodo'].dt.year != 2012]

In [9]:
temp.shape

(120, 3)

In [10]:
temp.dtypes

Periodo            object
T_media           float64
periodo    datetime64[ns]
dtype: object

In [11]:
temp.index = pd.to_datetime(temp["Periodo"])
temp.head()

            Periodo  T_media    periodo
Periodo
2013-01-01  2013-01     -1.0 2013-01-01
2013-02-01  2013-02      3.5 2013-02-01
2013-03-01  2013-03     -4.4 2013-03-01
2013-04-01  2013-04      0.0 2013-04-01
2013-05-01  2013-05      1.7 2013-05-01

In [12]:
temp.index.freq = pd.infer_freq(temp.index)

In [13]:
temp.drop(["Periodo", "periodo"],  inplace = True, axis = 1)

In [14]:
temp.head()

            T_media
Periodo
2013-01-01     -1.0
2013-02-01      3.5
2013-03-01     -4.4
2013-04-01      0.0
2013-05-01      1.7

In [15]:
temp.shape

(120, 1)

In [16]:
temp.to_csv('../data/temp_mad_clean.csv', index=True)